{{ render(controller('siohelloworldBundle:Default:header'))}}

<div id="container-content">

    <div id="content">

        <h1 align="left"><b>Inscription réussie !<b></h1>

    </div> <!--CONTENT END -->

    {{ render(controller('siohelloworldBundle:Default:footer'))}}
