{{ render(controller('siohelloworldBundle:Default:header'))}}
<div id=""containes-content">
    <div id="content">

        <h1 align="center"><b>Laisse tes informations</b></h1>

        <h3>Devenir mon ami ?</h3>
        {{form(form)}}
    </div> <!-- CONTENT END -->
{{ render(controller('siohelloworldBundle:Default:footer'))}}


